{% extends 'base.html.twig' %}

{% block title %}Hello PerfilMedicoController!{% endblock %}

{% block body %}
<!-- ***** Breadcumb Area Start ***** -->
<section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url({{ asset('img/bg-img/breadcumb2.jpg') }});">
    <div class="container h-0">
        <div class="row h-0 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    {% if medico is defined %}
                        <h3 class="breadcumb-title">Perfil de {{ medico.0.nombre }}</h3>
                    {% else %}
                        <h3 class="breadcumb-title">Este perfil no existe</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Elements Area Start ***** -->
<section class="elements-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="uni-our-doctor-item-default">
                        <div class="item-img">
                            <img src="{{ asset('img/medico.jpg') }}" alt="" class="img-responsive">
                            <hr>
                        </div>
                        <div class="item-caption">
                            <div class="item-caption-head">
                                <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                    <div class="item-title">
                                        {% if medico is defined %}
                                            <h4>{{ medico.0.nombre }}</h4>
                                            <h4>{{ medico.0.apellido }}</h4>
                                        {% else %}
                                            <h4>No existe</h4>
                                            <span>No existe</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption-info">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>Especialidades</td>
                                        {% if especialidades is defined %}
                                            <td>{{ especialidades }}<a data-toggle="modal" href="#modalEspecialidades">Agregar+</a></td>
                                        {% else %}
                                            <td><a data-toggle="modal" href="#modalEspecialidades" id="myInput">Agregar+</a></td>
                                        {% endif %}

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        {% if medico is defined %}
                                            <td>Pais de origen</td>
                                            <td>{{ medico.0.pais }}</td>
                                        {% else %}
                                            <td>Pais de origen</td>
                                            <td>No existe</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        {% if medico is defined %}
                                            <td>Estado</td>
                                            <td>{{ medico.0.estado }}</td>
                                        {% else %}
                                            <td>Estado</td>
                                            <td>No existe</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        {% if medico is defined %}
                                            <td>Municipio</td>
                                            <td>{{ medico.0.municipio }}</td>
                                        {% else %}
                                            <td>Municipio</td>
                                            <td>No existe</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        {% if medico is defined %}
                                            <td>Direccion</td>
                                            <td>{{ medico.0.direccion }}</td>
                                        {% else %}
                                            <td>Direccion</td>
                                            <td>No existe</td>
                                        {% endif %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--Posible boton EDIT<a href="#" class="btn medilife-btn btn-4 m-2">Editar informacion</a>-->
                </div>

                <div class="col-md-8">
                    <div class="uni-doctor-details-right">

                        <!--SUMMARY-->
                        <div class="uni-doctor-details-summary">
                            <div class="uni-doctor-details-title">
                                <h3>Mis servicios
                                    <a href="#modalServicio" data-toggle="modal" class="btn medilife-btn btn-4 m-2">Agregar un nuevo servicio
                                        <span>+</span>
                                    </a>
                                </h3>
                            </div>
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-bordered table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">Servicio</th>
                                        <th scope="col">Costo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if servicios is defined %}
                                        {% for servicio in servicios %}
                                            <tr>
                                                <td>{{ servicio.servicio }}</td>
                                                <td>${{ servicio.costo }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <!--EDUCATION/DEGREE-->
                        <div class="uni-doctor-details-degrees">
                            <div class="uni-doctor-details-title">
                                <h3>Pacientes que puede atender</h3>
                                <div class="uni-divider"></div>
                            </div>
                            {% if pacientes is defined %}
                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                    <table class="table table-bordered table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col"># Consulta</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Detalles clinicos</th>
                                            <th scope="col">Area solicitada</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for paciente in pacientes %}
                                            <tr>
                                                <td>{{ paciente.id_consulta }}</td>
                                                <td>{{ paciente.nombre }} {{ paciente.apellido }}</td>
                                                <td><button type="button" data-toggle="modal" data-target="#modalDetalles{{ paciente.id_consulta }}"  class="btn btn-primary">Ver</button></td>
                                                <td>{{ paciente.especialidad }}</td>
                                                <td><button type="button" class="btn btn-primary">Recetar</button>
                                                    <button type="button" class="btn btn-primary">Aceptar cita</button>
                                                </td>
                                            </tr>
                                            <!-- Modal -->
                                            <div class="modal fade" id="modalDetalles{{ paciente.id_consulta }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Detalles del paciente</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Nombre:{{ paciente.nombre }}</p>
                                                            <p>Sintomas:{{ paciente.sintomas }}</p>
                                                            <p>Alergias:{{ paciente.alergias }}</p>
                                                            <p>Cirugias:{{ paciente.cirugias }}</p>
                                                            <p>Enfermedades cronicas:{{ paciente.enfermedades_cronicas }}</p>
                                                            {% if paciente.foto_sintomas is not null %}
                                                            <p>Foto de los sintomas</p>
                                                                <img src="{{ asset('uploads/'~paciente.foto_sintomas) }}" class="img-fluid" alt="Foto de los sintomas">
                                                            {% endif %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                        <p>De momento no tienes pacientes para tu(s) espacialidad(es)</p>
                                    {% endif %}
                                </div>
                        </div>
                        <br>
                        <hr>
                        <!--CONTACT-->
                        <div class="uni-doctor-details-contact">
                            <div class="uni-doctor-details-title">
                                <h3>Pacientes atendidos</h3>
                                <div class="uni-divider"></div>

                            </div>
                            {% if pacientesAtendidos is defined %}
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-bordered table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Detalles</th>
                                        <th scope="col">Sospechoso COVID-19</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <td>Ayy</td>
                                    <td><button type="button" class="btn btn-primary">Ver detalles</button></td>
                                    <td><div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">
                                                Posible caso
                                            </label>
                                        </div></td>
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>De momento no haz atendido a ningun paciente(s)
                                {% endif %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>

    <!-- Modal -->
    <div class="modal fade" id="modalEspecialidades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva especialidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva servicio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form2) }}
                    {{ form_widget(form2) }}
                    {{ form_end(form2) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $($document).ready(function () {
            $('#modalEspecialidades').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus');
            });
        });
    </script>
{% endblock %}

