{% extends 'base_registration.html.twig' %}

{% block title %}New Paciente{% endblock %}

{% block form_title %}Create new Paciente for User {{ app.user.username }}{% endblock %}

{% block lastMenu %}<a href="{{ path('eleccion', {'id': app.user.id})}}">Return</a>{% endblock %}
{% block nextMenu %}<a href="{{ path('app_logout') }}">Log out</a>{% endblock %}

{% block progress %}
    <div class="progress mt-5">
         <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:75%"></div> 
    </div>
{% endblock %}

{% block body %}

    {{ include('paciente/_form.html.twig') }}

    {# <a href="{{ path('paciente_index') }}">back to list</a> #}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $("#paciente_id_user").hide();
            $("#paciente_id_user option[value={{ app.user.id }}]").attr("selected",true);
            $("label[for='paciente_id_user']").hide();
        });
    </script>
{% endblock %}