{% extends 'base_receta.html.twig' %}

{% block title %}Receta Medica!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div id="borde">
    <p align="center">
        Clínica Médica<br>
        “Esperanza S.C.”<br>
        Urgencias las 24 horas.<br>
        R.F.C. (poner aquí la información) &nbsp;S.S.A (Reg. Secretaría de salud)<br>
        Calle Esperanza número 320 col. Salvación Del. Iztapalapa México Distrito federal C.P. 002356<br>
        Tel 55-00-00-00-00
    </p>
    <p>
        <strong>Generales: {{ datosConsulta.0.sintomas }}</strong><br>
        <strong>Nombre</strong>: <u>{{ datosConsulta.0.nombre }}</u> &nbsp;Fecha: <u>{{ datosConsulta.0.fecha_atencion }}</u><br>
        <strong>Antecedentes</strong>: <br>
        <strong>Cirugias</strong>: {{ datosConsulta.0.cirugias }}
        <strong>Alergias</strong>: {{ datosConsulta.0.alergias }} <br>
        <strong>Diagnostico</strong>: {{ datosConsulta.0.diagnostico }}.
    </p>
    {% if datosConsulta.0.medicamento is not null %}
    <p>
        <strong>Medicamento</strong>: {{ datosConsulta.0.medicamento }}.
    </p>
        {% else %}
            <p style="margin-left:36.0pt;">
                NO ES NECESARIO NINGUN MEDICAMENTO
            </p>
    {% endif %}
    <strong>Recomendacion(es)</strong>
    <p>No consumir alimentos altos en almidones y azucares durante una semana, y realizar actividad física ligera.</p>
    <p align="center">Atendió: {{ datosConsulta.0.nombreMedico }}
    <p align="right">Folio {{ datosConsulta.0.id_consulta }}<br>Sello de la secretaria de salud</p>
</div>
{% endblock %}
